<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rocketlogo"
        android:label="Rockets Incoming!"
        android:roundIcon="@drawable/rocketlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Game"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>